<!-- <h3 class="text-center">Welcome to My Little Market</h3> -->
</br>

<header class="col-md-12">
			<div class="carousel slide" data-ride="carousel" id="c1">
				<ol class="carousel-indicators">
					<li data-target="#c1" data-slide-to="0"></li>
					<li data-target="#c1" data-slide-to="1"></li>
					<li data-target="#c1" data-slide-to="2"></li>
					<li data-target="#c1" data-slide-to="3"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img src="https://s-media-cache-ak0.pinimg.com/564x/b1/a9/0f/b1a90f3fa2d7aa22efeb2f287374c634.jpg">
						<div class="carousel-caption">
							<h4>Slider 1</h4>
							<p>This is the Slider 1</p>
						</div>
					</div>
					<div class="item">
						<img src="https://s-media-cache-ak0.pinimg.com/564x/b1/a9/0f/b1a90f3fa2d7aa22efeb2f287374c634.jpg">
						<div class="carousel-caption">
							<h4>Slider 2</h4>
							<p>This is the Slider 2</p>
						</div>
					</div>
					<div class="item">
						<img src="https://s-media-cache-ak0.pinimg.com/564x/b1/a9/0f/b1a90f3fa2d7aa22efeb2f287374c634.jpg">
						<div class="carousel-caption">
							<h4>Slider 3</h4>
							<p>This is the Slider 3</p>
						</div>
					</div>
					<div class="item">
						<img src="https://s-media-cache-ak0.pinimg.com/564x/b1/a9/0f/b1a90f3fa2d7aa22efeb2f287374c634.jpg">
						<div class="carousel-caption">
							<h4>Slider 4</h4>
							<p>This is the Slider 4</p>
						</div>
					</div>
				</div>
				<a href="#c1" class="left carousel-control" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a href="#c1" class="right carousel-control" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>
		</header>
